@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    }

body {
    background-image: linear-gradient(to bottom right, #99feaa, #658af8, #f563bd, rgb(255, 251, 132));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 400;
    padding-bottom: 60px;
    text-align: center;
    }

a {
    color: #000;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffff00;
}

header {
    text-shadow: .5px .5px .5px red;
    text-align: center;
}

header a {
    text-decoration: none;
}

h1 {
    font-weight: 300;
}

.header-image{
    width: 45px;
    height: 44px;
}

nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

section#leftColumn {
    float: left;
    width: 40%;
    margin: auto;
}

section#rightColumn {
    float: right;
    width: 40%;
    margin: auto;
}

section#centeredColumn {
    width: 60%;
    margin: auto;
}

section ul {
    list-style: decimal;
}

footer {
    position: fixed;
    bottom:0;
    width: 95%;
    height:40px; 
    text-align: center;
}